_cache/

# Arquivos externos e desnecessários
assets/css/Falaw/static.cdninstagram.com/
assets/css/Falaw/webagency.com.br/
assets/css/wp-content/
assets/fonts/wp-content/
assets/fonts/Falaw/webagency.com.br/
assets/fonts/Falaw/falaw.com.br/wp-content/
assets/images/wp-content/
assets/images/Falaw/falaw.com.br/wp-content/themes/
assets/images/backblue.gif
assets/images/fade.gif
assets/images/Falaw/falaw.com.br/wp-content/uploads/2024/07/
assets/images/Falaw/falaw.com.br/wp-content/uploads/2024/09/
assets/images/Falaw/falaw.com.br/wp-content/uploads/2024/10/
assets/images/Falaw/falaw.com.br/wp-content/uploads/2024/11/
assets/js/cdn-cgi/
assets/js/Falaw/static.cdninstagram.com/
assets/js/Falaw/connect.facebook.net/
assets/js/Falaw/webagency.com.br/
assets/js/Falaw/falaw.com.br/
data/Falaw/webagency.com.br/
data/Falaw/www.instagram.com/
data/Falaw/falaw.com.br/wp-json/
data/wp-json/
data/xmlrpc0db0.php
html/Falaw/br.linkedin.com/
html/Falaw/instagram.com/
html/Falaw/webagency.com.br/
html/Falaw/www.googletagmanager.com/
html/Falaw/www.instagram.com/
html/Falaw/www.linkedin.com/
html/wp-admin/
html/wp-content/
html/cdn-cgi/
html/comments/
html/feed/
html/author/
